<div id="successMessage" class="alert alert-warning alert-dismissible fade show position-absolute m-auto w-25 l-0 r-0" role="alert">
  <%= notice %>
  <%= alert %> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
