<h1>Editing Photo</h1>
<div class="card w-75 m-auto p-4">
	<%= render 'form', photo: @photo %>
</div>

<%= link_to 'Show', album_photo_path(@album), class: 'btn btn-info text-white' %>
<%= link_to 'Back', album_photos_path, class: 'btn btn-secondary text-white' %>
